.add_user-form {
    width: 20rem;
    max-width: 80%;
    margin: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
}

.form-control input {
    border: 1px solid rgb(15, 15, 15);
    font: inherit;
    border-radius: 2px;
}

button {
    font: inherit;
    border: 1px solid black;
    color: #3e00a1;
    background: blanchedalmond;
    border-radius: 3px;
    cursor: pointer;
}

button:hover,
button:active {
    background-color: #3e00a1;
    color: white;
}