<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Enter User</a></li>
                <li><a href="/users">Users</a></li>
            </ul>
        </nav>
    </header>