<%- include('includes/head.ejs')%>

<%- include('includes/navigation.ejs')%>
    <main>
        <form action="add-user" method="POST">
            <div class="form-control">
                <label for="user">User Name</label>
                <input type="text" name="username" id="user">
            </div>
            <button class="btn form-control" type="submit">Add User</button>
        </form>
    </main>
    
<%- include('includes/head.ejs')%>